@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"open sans", sans-serif ;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    padding: 0 10px;
}

body::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(/ken-cheung-KonWFWUaAuk-unsplash.jpg),#000;
    background-position: center;
    background-size: cover;
}

.container{
    width: 400px;
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    border: 1px solid rgba(255,255,255,0,25);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

form{
    display: flex;
    flex-direction: column;
}

h2{
    font-size: 2rem;
    margin-bottom: 20px;
    color: #fff;
}

.input-text{
    position: relative;
    border-bottom: 2px solid #b73fe3;
    margin: 15px 0;
}

.input-text label{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    color:#b73fe3;
    font-size: 16px;
    pointer-events: none;
    transition: 0.15s ease;
}

.input-text input{
    width: 100%;
    height: 400px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
}